In [ ]:
List datatypes

In [1]:
students=['faisal','ravi','swathi','salma']
print(students)

['faisal', 'ravi', 'swathi', 'salma']

In [2]:
type(students)

list

In [3]:
print(students[2])

swathi

In [4]:
print(students[2].title())

Swathi

In [ ]:
#replace list

In [5]:
students[2]="sajid"

In [6]:
print(students)# replacing swathi to sajid

['faisal', 'ravi', 'sajid', 'salma']

In [7]:
print(students)

['faisal', 'ravi', 'sajid', 'salma']

In [10]:
students.append('Rafeeq')

In [11]:
print(students)

['faisal', 'ravi', 'sajid', 'salma', 'ravi', 'Rafeeq']

In [12]:
students.insert(3,'rasheed') # inserting name in 3rd position

print(students)

In [13]:
print(students)

['faisal', 'ravi', 'sajid', 'rasheed', 'salma', 'ravi', 'Rafeeq']

In [ ]:
# removval of elements from the list

In [14]:
x=students.pop()

In [15]:
print(x)

Rafeeq

In [16]:
print(students)

['faisal', 'ravi', 'sajid', 'rasheed', 'salma', 'ravi']

In [18]:
y=students.pop(4)# poping out the 4tth index

In [19]:
print(y)

salma

In [20]:
print(y)

salma

In [21]:
print(students)

['faisal', 'ravi', 'sajid', 'rasheed', 'ravi']